<a type="button" class="mr-2" data-modal="confirmation" data-modal-title-str='["undo:header", "local_eportfolio"]'
   data-modal-content-str='["undo:checkconfirm", "local_eportfolio", "[{{title}}]"]' data-modal-yes-button-str='["undo:confirm", "local_eportfolio"]'
   data-modal-destination="{{undourl}}" role="button">
    {{#pix}} e/undo, core, {{#str}} overview:table:actions:undo:template, local_eportfolio {{/str}}{{/pix}}</a>