<a type="button" class="mr-2" data-modal="confirmation" data-modal-title-str='["delete:header", "local_eportfolio"]'
   data-modal-content-str='["delete:checkconfirm", "local_eportfolio", "{{title}}"]' data-modal-yes-button-str='["delete:confirm", "local_eportfolio"]'
   data-modal-destination="{{deleteurl}}" role="button">
    {{#pix}} t/delete, core, {{#str}} overview:table:actions:delete, local_eportfolio {{/str}}{{/pix}}</a>