<a type="button" class="mr-2" data-modal="confirmation" data-modal-title-str='["use:template:header", "local_eportfolio"]'
   data-modal-content-str='["use:template:checkconfirm", "local_eportfolio"]' data-modal-yes-button-str='["use:template:confirm", "local_eportfolio"]'
   data-modal-destination="{{reuseurl}}" role="button">
    {{#pix}} i/addblock, core, {{#str}} overview:table:actions:template, local_eportfolio {{/str}}{{/pix}}</a>