<div class="row pt-3 mb-3">
    <div class="col">
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" title="{{#str}}overview:eportfolio:fileselect, local_eportfolio{{/str}}" role="menu">
                {{#str}}overview:eportfolio:fileselect, local_eportfolio{{/str}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{uploadh5pfile}}" title="{{#str}}overview:eportfolio:uploadnewfile, local_eportfolio{{/str}}"
                   role="menuitem">
                    {{#str}}overview:eportfolio:uploadnewfile, local_eportfolio{{/str}}
                </a>
                <a class="dropdown-item" href="{{createh5pfile}}" title="{{#str}}overview:eportfolio:createnewfile, local_eportfolio{{/str}}"
                   role="menuitem">
                    {{#str}}overview:eportfolio:createnewfile, local_eportfolio{{/str}}
                </a>
            </div>
        </div>
    </div>
</div>
