<div class="divider"></div>
<div class="row mt-3 mb-3">
    <div class="col">
        <p>
            <a href="{{helpfaqurl}}" title="{{#str}}overview:helpfaq:title, local_eportfolio{{/str}}">
                {{#pix}} e/help, core, {{#str}} overview:helpfaq:title, local_eportfolio {{/str}}{{/pix}}
                {{#str}} overview:helpfaq:title, local_eportfolio {{/str}}
            </a>
        </p>
    </div>
</div>