<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-6">
            {{{renderform}}}
        </div>
        <div class="col-6">
            {{#alreadyshared}}
                {{>local_eportfolio/alreadysharedwith}}
            {{/alreadyshared}}
        </div>
    </div>
</div>
